.before-table-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 200px;
      grid-template-columns: 100px 1fr 200px;
  -ms-grid-rows: 35px;
      grid-template-rows: 35px;
      grid-template-areas: 'create-button . master-search';
  margin-bottom: 10px;
}

.master-search {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: master-search;
}

.create-button {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: create-button;
}
/*# sourceMappingURL=extras.css.map */