.before-table-container {
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    grid-template-rows: 35px;
    grid-template-areas: 
        'create-button . master-search';

    margin-bottom: 10px;
}

.master-search {
    grid-area: master-search;
}

.create-button {
    grid-area: create-button;
}